  body{
            background-color: azure;
        }
        h1{
            color: teal;
            font:  sans-serif;
        }
        button{
            padding: 0.5rem;
            background-color: blue;
            color: white;
            border-radius: 10px;
            cursor: pointer;
            transition: all ease-in-out 0.2s;
            margin-right: 2rem;
        }
        button:hover{
            background-color: black;
            transform: scale(1.1);
        }